<!DOCTYPE html>
<html>
    <head>
        <title>johnroco</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/components/button.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji|Josefin+Sans|Nunito:400,700" rel="stylesheet">
    </head>
    <body>
    <div class="parallax">
        <div class="row header-row">
            <div class="pull-right">
              <button type="button" class="navbar-toggle-always">
                <span class="icon-bar-always"></span>
                <span class="icon-bar-always"></span>
                <span class="icon-bar-always"></span>
              </button>
            </div>
            <a href="/" class="navbar-brand">John Roco</a>
        </div>