<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-text">
                <h1>I'm a web developer</h1>
                <h3>let's make beautiful websites</h3>
                <button class="ui primary basic button massive">Read More</button>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>