<% include partials/header %>

    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-text">
                        <h1>I'm a web developer</h1>
                        <h3>let's make beautiful websites</h3>
                        <button class="ui primary basic button massive">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1>About</h1>
            <div class="about-section">
                <p>My name is John Roco, I'm a full stack developer. I am fully engaged in designing beautiful and functional web sites. I mainly provide robust web solutions using CSS, HTML, javascript, jQuery, MongoDB, Express, Node.js.</p>
                <p>I am new to free-lance industry, but have more than 5 years of solid experience in the complex world of development.</p>
                <p class="divider"></p>
                <p>
                    <img src="https://scontent.fmnl4-1.fna.fbcdn.net/t31.0-8/14991313_10207552109311905_2349350065000493112_o.jpg">
                </p>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<% include partials/footer %>